<template name="accueilTemplate">
   <div class="container">
     <div class = "containerMain">
      <div class="starter-template">
        
        <p class="lead">Créez et gérez votre cave à vin simplement et rapidement</p>
        <div class="mainHaut img-polaroid img-effect">
          
        
            <div class="row">
              <div class="span6">
                  
                           
              </div>
              <div class="span6">
                <div class="rightMain">
                  <br />
                  <h4>Nouveau du Cavio ?</h4>
                  <h5>Inscrivez-vous pour commencer votre première cave.</h5>
                <div class="form-container">
                  <form class="form-horizontal" id="register-form" action="action">
                    
                      
                     
                        <input type="email" id="account-email" placeholder="Votre adresse email">
                        <div class="input-append">
                          <input type="password" id="account-password"  placeholder="Choisissez un mot de passe" >
                          <button type="submit" class="btn btn-large btn-green btn-retrait" id="create-account">S'inscrire</button>
                    </div>
                        <div class="error-mdp"></p>
                      
                      
                    
                   
                  </form>
              </div>
            </div>
            
            
            
         </div>
          </div>
         </div>
        </div><br />
       </div>
     
     <div class="row">
      <div class="span4">
          <div class="roundimg">
            <p>...car vous avez 10+ bouteilles et vous avez envie de savoir ce qui vous reste dans votre cave</p>
         <img src="cave.jpg" class="img-rounded">
         </div>
      </div>
       
             <div class="span4">
          <div class="roundimg">
            <p>...car vous avez envie de garder une traçe de vos dégustations mémorables</p>
         <img src="degustation.jpg" class="img-rounded">
         </div>
      </div>
       
             <div class="span4">
          <div class="roundimg">
            <p>...car vous avez envie de suivre ce que vos amis dégustent et partager vos coups de coeur</p>
         <img src="partager.jpg" class="img-rounded">
         </div>
      </div>
      
     </div><br /><br />
     
    </div>
  
  
</template>