<template name="contactForm">
 <div class="container">
	<div class="row">
		<div class="contactContainer well">
            <form>
                <div class="controls controls-row">
                    <input id="name120" name="nameMessage" type="text" class="" placeholder="Votre nom"> 
                    <input id="email120" name="emailMessage" type="email" class="" placeholder="Votre email">
                </div>
                <div class="controls">
                    <textarea id="message120" name="messageMessage" class="" placeholder="Votre message" rows="5"></textarea>
                </div>
                  
                
                <input id="contact-submit" type="submit" class="btn btn-success input-medium envoyerContactForm" value="Envoyer">
                
            </form>
        </div>
	</div>
</div>
  
  
</template>  
  