<template name="passwordRecovery">
  {{#if resetPassword}}
  <div class="container">
     <form id="new-password" action="action">
        
       <input type="password" id="new-password-password" /><br />
           <input type="submit" value="Changer le mot de passe" class="btn btn-success" />
        
      </form>
   </div> 
  {{else}}
      <form id="recovery-form" action="action">
        <div>
           <input type="text" id="recovery-email" />              
           <input type="submit" value="Send Reset Instructions" />
         </div>
      </form>
  {{/if}}
  
  
</template>  